<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="tessler" type="InfoSupport.Tessler.Configuration.TesslerSection, InfoSupport.Tessler" />
  </configSections>
  <tessler>
    <!-- See Tessler documentation for possible configurations -->
    <!-- The browser to use -->
    <browser value="Chrome" />
    <!-- Keep browser at default size in development mode -->
    <maximizeBrowser value="false" />
    <!-- Re-use browser window across tests -->
    <recycleBrowser value="false" />
    <!-- Never keep screenshots by default -->
    <takeScreenshot value="Never" />
    <!-- The url of the website -->
    <websiteUrl value="http://tessler.flyingpie.nl/tesslertoys" />
  </tessler>
</configuration>