<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="tessler" type="InfoSupport.Tessler.Configuration.TesslerSection, InfoSupport.Tessler"/>
  </configSections>
  <tessler>
    <ajaxWaitInterval value="0.1"/>
    <ajaxWaitTime value="2"/>
    <browser value="Chrome"/>
    <findElementTimeout value="2"/>
    <maximizeBrowser value="false"/>
    <pauseWaitTime value="1"/>
    <recycleBrowser value="true"/>
    <stripNamespace value="InfoSupport.C2Wmo.AutomatedTesting.AutoUITests"/>
    <websiteUrl value="https://localhost/Portaal"/>
  </tessler>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
