<?xml version="1.0" encoding="utf-8" ?>
<ruleConfiguration xmlns="urn:pdc:infosupport-autobuild-ruleconfiguration">
  <ruleSets>
    <ruleSet name="CodeStats">
      <rule name="CodeStatisticsMandatory" default="true" unit="bool" shortDescription="Het bepalen van code statistieken is verplicht." description="Wanneer de norm op 'true' staat dan moet er code statistieken bepaald zijn. Staat de norm op 'false' dan is het toegestaan dat er geen code statistieken bepaald worden." typeId="ruleCodeStatisticsMandatoryType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfCodeStatisticsErrorsAllowed" default="0" unit="number" shortDescription="Code statistieken errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat de er geen code statistieken errors zijn gerapporteerd. Staat de norm op een andere waarde dan is dat aantal aan code statistieken errors toegestaan." typeId="ruleNumberOfCodeStatisticsErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
    </ruleSet>
    <ruleSet name="Compile">
      <rule name="CompileMandatory" default="true" unit="bool" shortDescription="Compilatie is verplicht." description="Wanneer de norm op 'true' staat is het verplicht om de compilatie stap uit te voeren. Staat de norm op 'false' dan is het toegestaan om geen compilatie uit te voeren." typeId="ruleCompileMandatoryType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default value.</annotation>
      </rule>
      <rule name="NrOfCompilerWarningsAllowed" default="0" unit="number" shortDescription="Compiler warnings niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat de compiler geen warnings mag rapporteren. Staat de norm op een andere waarde dan is het toegestaan dat de compiler dat aantal warnings rapporteert." typeId="ruleNumberOfCompilerWarningsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfCompilerErrorsAllowed" default="0" unit="number" shortDescription="Compiler errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat de compiler geen errors mag rapporteren. Staat de norm op een andere waarde dan is het toegestaan dat de compiler dat aantal errors rapporteert." typeId="ruleNumberOfCompilerErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="CodeAnalysisCheckMandatory" default="true" unit="bool" shortDescription="FxCop controle is verplicht." description="Wanneer de norm op 'true' staat is het verplicht om FxCop controle uit te voeren. Staat de norm op 'false' dan is het toegestaan om de FxCop controle over te slaan." typeId="ruleCodeAnalysisCheckMandatoryType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default value.</annotation>
      </rule>
      <rule name="NrOfCodeAnalysisWarningsAllowed" default="0" unit="number" shortDescription="Code analysis warnings niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat de compiler geen code analysis warnings mag rapporteren. Staat de norm op een andere waarde dan is het toegestaan dat de compiler dat aantal aan code analysis warnings rapporteert." typeId="ruleNumberOfCodeAnalysisWarningsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfCodeAnalysisErrorsAllowed" default="0" unit="number" shortDescription="Code analysis errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat de compiler geen code analysis errors mag rapporteren. Staat de norm op een andere waarde dan is het toegestaan dat de compiler dat aantal aan code analysis errors rapporteert." typeId="ruleNumberOfCodeAnalysisErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfExcludedMessagesWithoutJustificationAllowed" default="0" unit="number" shortDescription="Het aantal exluded messages zonder een justification toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat de geen excluded messages mogen zijn zonder justification. Staat de norm op een andere waarde dan is het toegestaan dat er excluded messages zonder justification worden gerapporteerd." typeId="ruleNumberOfExcludedMessagesWithoutJustificationType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <!--
      <rule name="CodeAnalysisRuleSet" default="AllRules.ruleset:MinimumRecommendedRules.ruleset" unit="text" shortDescription="Gebruik de juiste Code Analysis ruleset(s)." description="De opgegeven Code Analysis ruleset moet door de solution gebruikt worden tijdens compilatie. Er wordt onderscheid gemaakt tussen unit test (MinimumRecommendedRules.ruleset) en andere projecten (AllRules.ruleset)." typeId="ruleCodeAnalysisRulesetType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default value.</annotation>
      </rule>
      -->
      <rule name="NumberOfDocumentationWarningsAllowed" default="0" unit="number" shortDescription="Documentatie warnings niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat de compiler geen documentatie warnings mag rapporteren. Staat de norm op een andere waarde dan is het toegestaan dat de compiler dat aantal aan documentatie warnings rapporteert." typeId="ruleNumberOfDocumentationWarningsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NumberOfDocumentationErrorsAllowed" default="0" unit="number" shortDescription="Documentatie errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat de compiler geen documentatie errors mag rapporteren. Staat de norm op een andere waarde dan is het toegestaan dat de compiler dat aantal aan documentatie errors rapporteert." typeId="ruleNumberOfDocumentationErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="XmlDocumentationEnabled" default="true" unit="bool" shortDescription="Xml documentatie generatie moet enabled zijn op alle projecten." description="Voor alle projecten in de solution moet Xml documentatie gegenereert worden tijdens de compilatie stap." typeId="ruleXmlDocumentationEnabledType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
    </ruleSet>
    <ruleSet name="DeployForTest">
      <rule name="DeployForTestMandatory" default="true" unit="bool" shortDescription="DeployForTest is verplicht." description="Wanneer de norm op 'true' staat is het verplicht om de DeployForTest stap uit te voeren. Staat de norm op 'false' dan is het toegestaan om geen DeployForTest uit te voeren." typeId="ruleDeployForTestMandatoryType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default value.</annotation>
      </rule>
      <rule name="NrOfDeployForTestWarningsAllowed" default="0" unit="number" shortDescription="DeployForTest warnings niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er tijdens de DeployForTest stap geen warnings gerapporteerd mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er dat aantal warnings gerapporteerd wordt." typeId="ruleNumberOfDeployForTestWarningsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfDeployForTestErrorsAllowed" default="0" unit="number" shortDescription="DeployForTest errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er tijdens de DeployForTest stap geen errors gerapporteerd mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er dat aantal errors gerapporteerd wordt." typeId="ruleNumberOfDeployForTestErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
    </ruleSet>
    <ruleSet name="AutoTest">
      <rule name="NrOfAutoTestWarningsAllowed" default="0" unit="number" shortDescription="Warnings niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er geen warnings gerapporteert mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er een aantal warnings gerapporteerd worden." typeId="ruleNumberOfAutoTestWarningsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfAutoTestLogWarningsAllowed" default="0" unit="number" shortDescription="Log warnings niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er geen warnings gerapporteert mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er een aantal warnings gerapporteerd worden." typeId="ruleNumberOfAutoTestLogWarningsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfAutoTestErrorsAllowed" default="0" unit="number" shortDescription="Errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er geen errors gerapporteert mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er een aantal errors gerapporteerd worden." typeId="ruleNumberOfAutoTestErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfAutoTestLogErrorsAllowed" default="0" unit="number" shortDescription="Log errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er geen errors gerapporteert mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er een aantal errors gerapporteerd worden." typeId="ruleNumberOfAutoTestLogErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="MinimumNrOfUnitTests" default="1" unit="number" shortDescription="Het minimum aantal aanwezige unittests" description="De norm geeft het minimum aantal unittesten aan dat uitgevoerd moet zijn." typeId="ruleMinimumNumberOfUnitTestsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfFailedUnittestAllowed" default="0" unit="number" shortDescription="Alle unittesten moeten lukken." description="Wanneer de norm op 'true' staat moeten alle unittesten geslaagd zijn. Staat de norm op 'false' dan is het toegestaan dat unittesten falen." typeId="ruleNumberOfFailedUnittestsAllowedType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="MinimumPercentageOfCodeCoverage" default="80" unit="number" shortDescription="Het minimum percentage code coverage." description="De norm geeft het minimum percentage code coverage aan dat getest moet zijn." typeId="ruleMinimumPercentageOfCodeCoverageType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
    </ruleSet>
    <ruleSet name="AutoDoc">
      <rule name="DocumentationGenerationMandatory" default="false" unit="bool" shortDescription="Generatie van documentatie verplicht." description="Wanneer de norm op 'true' staat dan moet er documentatie gegenereerd zijn. Staat de norm op 'false' dan is het toegestaan dat er geen documentatie is gegenereerd." typeId="ruleDocumentationGenerationMandatoryType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfAutoDocWarningsAllowed" default="0" unit="number" shortDescription="Warnings niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er geen warnings gerapporteerd mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er een aantal warnings gerapporteerd worden." typeId="ruleNumberOfAutoDocWarningsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfAutoDocErrorsAllowed" default="0" unit="number" shortDescription="Errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er geen errors gerapporteerd mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er een aantal errors gerapporteerd worden." typeId="ruleNumberOfAutoDocErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
    </ruleSet>
    <ruleSet name="Packaging">
      <rule name="PackagingMandatory" default="true" unit="bool" shortDescription="Packaging is verplicht." description="Wanneer de norm op 'true' staat is het verplicht om de packaging stap uit te voeren. Staat de norm op 'false' dan is het toegestaan om geen packaging uit te voeren." typeId="ruleCompileMandatoryType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default value.</annotation>
      </rule>
      <rule name="NrOfPackagingWarningsAllowed" default="0" unit="number" shortDescription="Packaging warnings niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er tijdens de packaging stap geen warnings gerapporteerd mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er dat aantal warnings gerapporteerd wordt." typeId="ruleNumberOfCompilerWarningsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
      <rule name="NrOfPackagingErrorsAllowed" default="0" unit="number" shortDescription="Packaging errors niet toegestaan." description="Wanneer de norm op '0' staat, dan betekent dit dat er tijdens de packaging stap geen errors gerapporteerd mogen worden. Staat de norm op een andere waarde dan is het toegestaan dat er dat aantal errors gerapporteerd wordt." typeId="ruleNumberOfCompilerErrorsType">
        <approvedBy>Info Support</approvedBy>
        <annotation>Default rule.</annotation>
      </rule>
    </ruleSet>
  </ruleSets>
  <ruleTypes>
    <ruleType id="ruleCodeStatisticsMandatoryType">
      <className>InfoSupport.AutoBuild.Status.Rules.CodeStatisticsMandatoryRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfCodeStatisticsErrorsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfCodeStatisticsErrorsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleCompileMandatoryType">
      <className>InfoSupport.AutoBuild.Status.Rules.CompileMandatoryRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfCompilerWarningsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfCompilerWarningsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfCompilerErrorsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfCompilerErrorsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleCodeAnalysisCheckMandatoryType">
      <className>InfoSupport.AutoBuild.Status.Rules.CodeAnalysisCheckMandatoryRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfCodeAnalysisWarningsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfCodeAnalysisWarningsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfCodeAnalysisErrorsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfCodeAnalysisErrorsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfExcludedMessagesWithoutJustificationType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfExcludedMessagesWithoutJustificationRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <!--
    <ruleType id="ruleCodeAnalysisRulesetType">
      <className>InfoSupport.AutoBuild.Status.Rules.CodeAnalysisRuleSetRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    -->
    <ruleType id="ruleNumberOfDocumentationWarningsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfDocumentationWarningsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfDocumentationErrorsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfDocumentationErrorsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleXmlDocumentationEnabledType">
      <className>InfoSupport.AutoBuild.Status.Rules.XmlDocumentationEnabledRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleDeployForTestMandatoryType">
      <className>InfoSupport.AutoBuild.Status.Rules.DeployForTestMandatoryRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfDeployForTestWarningsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfDeployForTestWarningsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfDeployForTestErrorsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfDeployForTestErrorsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfAutoTestErrorsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfAutoTestErrorsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfAutoTestWarningsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfAutoTestWarningsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfAutoTestLogErrorsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfAutoTestLogErrorsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfAutoTestLogWarningsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfAutoTestLogWarningsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleMinimumNumberOfUnitTestsType">
      <className>InfoSupport.AutoBuild.Status.Rules.MinimumNumberOfUnitTestsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfFailedUnittestsAllowedType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfFailedUnitTestAllowedRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleMinimumPercentageOfCodeCoverageType">
      <className>InfoSupport.AutoBuild.Status.Rules.MinimumPercentageOfCodeCoverageRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleDocumentationGenerationMandatoryType">
      <className>InfoSupport.AutoBuild.Status.Rules.DocumentationGenerationMandatoryRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfAutoDocErrorsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfAutoDocErrorsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
    <ruleType id="ruleNumberOfAutoDocWarningsType">
      <className>InfoSupport.AutoBuild.Status.Rules.NumberOfAutoDocWarningsRule</className>
      <assemblyName>InfoSupport.AutoBuild.Status.Rules.dll</assemblyName>
      <location>%ENDEAVOUR61%\MsBuild</location>
    </ruleType>
  </ruleTypes>
  <ruleArguments>
    <ruleArgument name="XPathCompileNumberOfErrors" 
                  value="count(//results/message[@type='error' 
                         and not(@task='Microsoft.Build.Tasks.CodeAnalysis') 
                         and not(@task='CodeAnalysis') 
                         and not(@task='SqlStaticCodeAnalysisTask')
                         and not(. = preceding-sibling::message and @lineNumber = preceding-sibling::message/@lineNumber and @file = preceding-sibling::message/@file)
                         and not(@code='CS1591') and not(@code='CS1570') and not(@code='CS1571') and not(@code='CS1572') and not(@code='CS1573')
                         and not(@code='CS1574') and not(@code='CS1584') and not(@code='CS1587') and not(@code='CS1711') and not(@code='CS1723')
                          ])"/>
    <ruleArgument name="XPathCompileNumberOfWarnings"
                  value="count(//results/message[@type='warning' 
                         and not(@task='Microsoft.Build.Tasks.CodeAnalysis') 
                         and not(@task='CodeAnalysis') 
                         and not(@task='SqlStaticCodeAnalysisTask')
                         and not(contains(text(),&quot;The project configuration for project&quot;) and contains(text(), &quot;was not specified in the solution file for the solution configuration&quot;))
                         and not(contains(text(), &quot;Beginning retry 1 in 1000ms. The process cannot access the file &quot;))
                         and not(contains(text(), &quot;Beginning retry 2 in 1000ms. The process cannot access the file &quot;))
                         and not(@code='CS1591') and not(@code='CS1570') and not(@code='CS1571') and not(@code='CS1572') and not(@code='CS1573')
                         and not(@code='CS1574') and not(@code='CS1584') and not(@code='CS1587') and not(@code='CS1711') and not(@code='CS1723')
                         and not(. = preceding-sibling::message and @lineNumber = preceding-sibling::message/@lineNumber and @file = preceding-sibling::message/@file)
                         ])"/>
    <ruleArgument name="XPathCodeAnalysisNumberOfWarnings" value="count(//results/message[@type='warning' and (@task='Microsoft.Build.Tasks.CodeAnalysis' or @task='CodeAnalysis' or @task='SqlStaticCodeAnalysisTask') and not(. = preceding-sibling::message and @lineNumber = preceding-sibling::message/@lineNumber and @file = preceding-sibling::message/@file)])"/>
    <ruleArgument name="XPathCodeAnalysisNumberOfErrors" value="count(//results/message[@type='error' and (@task='Microsoft.Build.Tasks.CodeAnalysis' or @task='CodeAnalysis' or @task='SqlStaticCodeAnalysisTask') and not(. = preceding-sibling::message and @lineNumber = preceding-sibling::message/@lineNumber and @file = preceding-sibling::message/@file)])"/>
    <ruleArgument name="XPathCodeAnalysisCheck" value="count(//results/message[(@task='Microsoft.Build.Tasks.CodeAnalysis' or @task='CodeAnalysis' or @task='SqlStaticCodeAnalysisTask')]) > 0"/>
    <ruleArgument name="XPathNumberOfExcludedMessagesWithoutJustification" value="count (//Message) - count(//Message/Justification)"/>
    <ruleArgument name="XPathDocumentationNumberOfErrors" 
                  value="count(//results/message[@type='error' 
                        and not(@task='Microsoft.Build.Tasks.CodeAnalysis') 
                        and not(@task='CodeAnalysis')
                        and not(@task='SqlStaticCodeAnalysisTask')
                        and not(contains(text(), &quot;The project configuration for project&quot;) and contains(text(),&quot;was not specified in the solution file for the solution configuration&quot;)) 
                        and not(contains(text(),&quot;Found conflicts between different versions of the same dependent assembly.&quot;)) 
                        and (
                          @code='CS1591' or @code='CS1570' or @code='CS1571' or @code='CS1572' or @code='CS1573' or 
                          @code='CS1574' or @code='CS1584' or @code='CS1587' or @code='CS1711' or @code='CS1723')
                        ])"/>
    <ruleArgument name="XPathDocumentationNumberOfWarnings" 
                  value="count(//results/message[@type='warning' 
                        and not(@task='Microsoft.Build.Tasks.CodeAnalysis') 
                        and not(@task='CodeAnalysis')
                        and not(@task='SqlStaticCodeAnalysisTask')
                        and not(contains(text(),&quot;The project configuration for project&quot;) and contains(text(),&quot;was not specified in the solution file for the solution configuration&quot;)) 
                        and not(contains(text(),&quot;Found conflicts between different versions of the same dependent assembly.&quot;)) 
                        and (
                          @code='CS1591' or @code='CS1570' or @code='CS1571' or @code='CS1572' or @code='CS1573'or 
                          @code='CS1574'or @code='CS1584' or @code='CS1587'or @code='CS1711'or @code='CS1723')
                        ])"/>
    <ruleArgument name="XPathDeployForTestNumberOfErrors" value="count(//results/message[@type='error'])"/>
    <ruleArgument name="XPathDeployForTestNumberOfWarnings" value="count(//results/message[@type='warning'])"/>
    <ruleArgument name="XPathAutoTestNumberOfErrors" value="count(//ns:ResultSummary/ns:RunInfos/ns:RunInfo[@outcome='Error'])"/>
    <ruleArgument name="XPathAutoTestNumberOfLogErrors" value="count(//results/message[@type='error'])"/>
    <ruleArgument name="XPathAutoTestNumberOfLogWarnings" value="count(//results/message[@type='warning'])"/>
    <ruleArgument
         name="XPathAutoTestNumberOfWarnings"
         value="count(//ns:ResultSummary/ns:RunInfos/ns:RunInfo[@outcome='Warning' 
                and not(contains(./ns:Text/text(),'Instrumenting this image requires it to run as a 32-bit process.  The CLR header flags have been updated to reflect this.'))
                and not(contains(./ns:Text/text(),&quot;Test Run deployment issue: The assembly or module 'Microsoft.Internal.Mime' directly or indirectly referenced by the test container&quot;))
                and not(contains(./ns:Text/text(),&quot;Test Run deployment issue: The assembly or module 'Microsoft.WizardFrameworkVS' directly or indirectly referenced by the test container&quot;))
               ])"/>
    <ruleArgument name="XPathNumberOfTests" value="number(/ns:TestRun/ns:ResultSummary/ns:Counters/@total) - count(//ns:GenericTestResult/ns:Counters)"/>
    <ruleArgument name="XPathNumberOfExecutedTests" value="count(//ns:Results/*[not(ns:InnerResults)] | //ns:InnerResults/*[not(ns:InnerResults/*)])"/>
    <ruleArgument name="XPathNumberOfSucceedTests" value="count(//ns:Results/*[@outcome='Passed' and not(ns:InnerResults/*)] | //ns:InnerResults/*[@outcome='Passed' and not(ns:InnerResults/*)])"/>
    <ruleArgument name="XPathPercentageCodeCoverage" value="//CoverageDSPriv/Module"/>
    <ruleArgument name="XPathAutoDocNumberOfErrors" value="count(//results/message[@type='error'])"/>
    <ruleArgument name="XPathAutoDocNumberOfWarnings" value="count(//results/message[@type='warning'])"/>
    <ruleArgument name="XPathSandCastleResult" value="/shfbBuild/buildStep[last()]"/>
  </ruleArguments>
</ruleConfiguration>